<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= config.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <script src="<%= sdk %>"></script>
    <script src="<%= demo %>"></script>

    <form id="add-form" style="display: none;">
      Media ID: <input id="add-id" type="text">
      Width: <input id="add-width" type="text" value="500">
      height: <input id="add-height" type="text" value="500">
      <select id="add-type">
        <option value="panophoto">Panophoto</option>
        <option value="livephoto">Livephoto</option>
      </select>
      <br />
      <br />
      <button id="add-btn" type="button">Add</button>
      <button id="gen-btn" type="button" disabled="true">Generate view-only page</button>
      <br />
      <br />
      <textarea id="add-msg" rows="4" cols="50" disabled="true"></textarea>
    </form>
  </body>
</html>
